<h1><%= @recipes.title %></h1>

<h3>Detalhes</h3>
<p>Tipo: <%= @recipes.recipe_type.name %></p>
<p>Cozinha: <%= @recipes.cuisine.name%></p>
<p>Dificuldade: <%= @recipes.difficulty %></p>
<p>Serve <%= @recipes.portion %> pessoa(s)</p>
<p>Tempo de Preparo: <%= @recipes.cook_time %> minutos</p>

<h3>Ingredientes</h3>
<p><%= @recipes.ingredients %></p>

<h3>Como Preparar</h3>
<p><%= @recipes.method %></p>

<%= link_to "Editar", edit_recipe_path(@recipes) %>
<%= link_to 'Voltar', root_path %>
