<h1><%= @recipe_types.name %></h1>

<% if @recipes.any?  %>

  <% @recipes.each do |recipe| %>
  <h1><%= recipe.title %></h1>
  <ul>
    <li> <%= recipe.recipe_type.name %></li>
    <li> <%= recipe.cuisine.name %></li>
    <li> <%= recipe.difficulty %></li>
    <li> <%= recipe.cook_time %> minutos</li>
  </ul>
  <% end %>

<%else%>
Nenhuma receita encontrada para este tipo de receitas
<%end%>
